<#if (!block_bottom??) || (content.getItem()?size>0)>

<table style="margin: 0 0 1em 0;" width="100%" border="0" cellspacing="0" cellpadding="4">
    <tbody>
        <tr>
            <td style="background-color:#42529C">
                <h2>Смешные сайты</h2>
            </td>
        </tr>
        <tr>
            <td class="border">

                <h4>Каталог развлекательных ресурсов</h4>
                <ul class="list">
                    <li>
                        <a href="/xml/all.xml">Все сразу (анекдоты, афоризмы, картинки и др.).</a>
                        
                    </li>
                    
                </ul>
                
                <p>
                    Обмениваемся ссылками с тематическими сайтами. Обращайтесь по адресу <a href="mailto:neomno@yourmood.ru">neomno@yourmood.ru</a>
                </p>

            </td>
        </tr>
    </tbody>
</table>

</#if>