<style>
    #footer {
        width: 97%;
        padding: 6px 0 0 0;
        border-top: 1px solid grey;
        margin-top: 15px;
    }
    #footer a {
        margin: 07px;
    }
</style>
<div id="footer" style="">
    <!--Бижутерия:-->
    <p>
        <a href="http://freemarker.org/"><img src="/image/poweredby_sq_bluespot.png" alt="Powered by FreeMarker" border="0"></a>

        <!--<a href="http://www.oracle.com/technetwork/java/index.html"><img src="http://www.imagingassociates.com.au/color/images/others/java/java_getitnow_blue.gif" alt="Oracle Technology Network for Java Developers" border="0"></a>
                                                  
        <a href="http://www.debian.org/"><img src="/kartinki/debian.png" alt="Debian - Универсальная Операционная Система" border="0"></a>
        
        <a href="http://www.debian.org/"><img src="http://netbeans.org/images_www/download-nb-3.gif" alt="Debian - Универсальная Операционная Система" border="0"></a>
        -->
    </p>
    <p>
        <small><small>Собранные на сайте анекдоты, истории, афоризмы не ставят перед собой цель оскорблять то, чего у вас и так нет. Администрация сайта не старается посягать на вас, дабы это скучное занятие. Сведения, содержащиеся в данных историях, анекдотах являются правдивыми, а имена и названия не случайны и неспроста подобраны. Сайт классифицируется как (18+). Таким образом, если вам нет восемнадцати, <a href="http://telepuziki.com/" rel="nofollow" title="В добрый путь!">используйте телепорт.</a></small></small>
    </p>
</div>


<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter439068 = new Ya.Metrika({id:439068, enableAll: true, webvisor:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/439068" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->