<!DOCTYPE html>
<html>
    <head>
        <title>${title!'Оу, Щет!'}</title>
        ${head!''}
        <meta name="google-site-verification" content="VDwQCcAHvG2kr0aHp6JwgwF3Btyo5NpYNh29_9_Sjr4" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" href="/templates/default/css/style.css" rel="stylesheet" charset="utf-8">

        <script type="text/javascript" src="/scriptiki/jquery-1.8.1.min.js" charset="UTF-8"></script>
        <script type="text/javascript" src="/scriptiki/script.js" charset="utf-8"></script>

        <script type="text/javascript" src="/scriptiki/jquery.fancybox.pack.js"></script>
        <link rel="stylesheet" type="text/css" href="/scriptiki/jquery.fancybox.css" media="screen">

        <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>


        <script type="text/javascript">
            $(document).ready(function() {
                if (($.browser.msie) && ($.browser.version <= '6.0')) {
                    $('#content').css('display','none');
                }
            });
            
            $(document).ready(function() {
                $(".fancybox-thumb").fancybox({
                    prevEffect : 'none',
                    nextEffect : 'none',
                    openSpeed  : 150,
                    closeSpeed  : 150,
                    padding:8,
                    helpers : {
                        title : {
                            type : 'inside'
                        }
                    }
                });
            });

        </script>
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?62"></script>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">


        <link rel="alternate" type="application/rss+xml" title="Порка анекдотов: афоризмы, анекдоты, картинки и др." href="/xml/all.xml" />
        <link rel="alternate" type="application/rss+xml" title="Порка анекдотов: только анекдоты" href="/xml/anekdot.xml" />
        <link rel="alternate" type="application/rss+xml" title="Порка анекдотов: афоризмы" href="/xml/aforizm.xml" />
        <link rel="alternate" type="application/rss+xml" title="Порка анекдотов: картинки" href="/xml/kartinka.xml" />
        <link rel="alternate" type="application/rss+xml" title="Порка анекдотов: рассказы, крик души" href="/xml/rasskaz.xml" />

    </head>
    <body style="">

        <!--[if lte IE 8]>
    <center>

            <div id="ie">
                <div><b>Идите на ХУЙ! с таким браузером. Он настолько дыряв что ваши вирусы могут просочиться через него к нам.</b></div>
                <div>
                    <a href="http://getfirefox.com/">Firefox</a>
                    <a href="http://opera.com/">Opera</a>
                    <a href="http://apple.com/safari/">Safari</a>
                    <a href="http://google.com/chrome/">Google Chrome</a>
                </div>
            </div>
    </center>
        <![endif]-->



    <center id="content">
        <div class="toppanel" style="font-size: 12px;margin-bottom: 10px;text-align: left;width: 810px;">
            <a style="color:#000" href="http://www.yandex.ru/?add=116314&from=promocode" rel="nofollow"><span style="color:red">Я</span>.Виджет</a> |
            <a style="color:green" href="/rss.html">RSS</a> |
            <a style="color:green" href="https://twitter.com/YourMood">Twitter</a> |
            <a style="color:green" href="http://vk.com/porka_anekdotov">Vk</a>
        </div>



        <div style="margin-bottom: 10px;text-align: left;width: 810px;">
            <a href="/"><img style="text-align: left;ma" height="45" width="346" src="/templates/default/image/yourmood.gif" alt="YourMood.ru - сайт анекдотов. Смешные анекдоты, рассказы и картинки."></a>
        </div>


        <div style="min-width: 800px;width: 97%;padding: 6px 0;border-top: 1px solid grey;border-bottom: 1px solid grey;">
            <strong title="все так делают">Мы порем анекдоты! Чаще всего с других сайтов.</strong>
        </div>

        <br>
        <table width="820" border="0" style="margin-left: 10px">
            <tbody>
                <tr>
                    <td valign="top" align="left" width="160" class="navLeft">

                        <div class="line1"></div>
                        <p>
                            <font size="2">Добро пожаловать на сайт! <a href="/"><strong>Смешные анекдоты</strong></a> и прочий текст, отвлекающий от работы!</font><br>
                        </p>
                        <!--
                                                <form method="POST" action="/Service">
                                                    <input type="hidden" name="q" value="Quiz">
                                                    <input type="hidden" name="id" value="my_pochta">
                                                    <p>
                                                        <font size="2">
                                                        <b>Какой почтой вы пользуетесь?</b><br>
                                                        <input type="radio" name="myPochta" value="rambler"> Рамблер<br>
                                                        <input type="radio" name="myPochta" value="mail"> Mail.Ru<br>
                                                        <input type="radio" name="myPochta" value="gmail"> Gmail.com<br>
                                                        <input type="radio" name="myPochta" value="yandex" checked> Яндекс<br>
                                                        </font>
                                                    </p>
                                                    <p>
                                                        <input type="submit" name="button" value="ГОЛОСОВАТЬ!">
                                                    </p>
                                                </form>
                        -->
                        <p>
                            <font size="2">
                            Хотите <em>читать смешные анекдоты</em> чаще?
                            <a style="color:#000" href="http://www.yandex.ru/?add=116314&from=promocode" rel="nofollow"><b>Ставьте <span style="color:red">Я</span>ндекс.Виджет</b></a>
                            </font>
                        </p>

                        <div class="line1"></div>
                        <p>

                            <font size="2">
                            Посылайте свои анекдоты или картинки по адресу: <a href="mailto:neamno@yourmood.ru">neomno@yourmood.ru</a>

                            Редакции может не понравиться ваш <em>анекдот</em>, в таком случае он никогда не появится на сайте.

                            <br><br>
                            По секрету! можно наебать редакцию и <a href="/secretform.html">добавить анекдот</a> через секретную форму.
                            <br>Основано 10 октября 2009 г.
                            </font>
                        </p>

                        <!--
                        <div class="line1"></div>
                        <ul>
                            <li>
                                <font size="2">
                                <a href="/rand.html">Как повезёт</a>
                                - случайно выбранный анекдот. Иногда попадается <a href="/404" rel="nofollow" title="Игра на раздевание">404-я ошибка (18+)</a>!
                                </font>
                            </li>
                        </ul>
                        <p></p>
                        -->

                        <div class="line1"></div>

                        <p>
                            <font size="2">
                            Если вы хотите поставить ссылку на сайт "<strong>смешных анекдотов</strong>", берите эту картинку:
                            <br>
                            <img src="/yourmood.gif" width="88" height="31" vspace="5" border="0">
                            <br>
                            Если вы не хотите брать картинку, ставьте ссылку просто так.
                            </font>
                        </p>

                        <div class="line1"></div>
                        <p>
                        <!-- VK Widget -->
                        <div id="vk_groups"></div>
                        <script type="text/javascript">
                            VK.Widgets.Group("vk_groups", {mode: 0, width: "158", height: "290"}, 47094437);
                        </script>
                        </p>
                        <div class="line1"></div>
            <center>
                <p>
                    <font size="2">
                    <a href="http://www.knigoed.info/"><img src="/image/kigoed.gif" alt="Книгоед — ебёт книги!"></a>
                    </font>
                </p>
            </center>
            <div class="line1"></div>

            <!--<p>
                            <font size="2">

                            <img src="http://tema.ru/rrr/kartinki/nomat.gif" width="114" height="141" border="0">
                            </font>
                        </p>
                        <div class="line1"></div>-->
            </td>




            <td valign="top" align="left">

                <div class="content">
                    <#include "${content_tpl!''}">


                    <#if block_bottom??><#include "rand.html"></#if>
                </div>


            </td>
            </tr>
            </tbody>
        </table>

        <#include "${footer_tpl!''}">

    </center>
</body>
</html>
