<#if (!block_bottom??) || (content.getItem()?size>0)>

<table style="margin: 0 0 1em 0;" width="100%" border="0" cellspacing="0" cellpadding="4">
    <tbody>
        <tr>
            <td style="background-color:#42529C">
                <h2>RSS-подписка</h2>
            </td>
        </tr>
        <tr>
            <td class="border">
                <p>Cписок RSS-лент — это всегда быстрый и удобный способ чтения любимых анекдотов, историй, афоризмов и др. браузером или агрегатором:</p>

                <h4>Все что появляется на главной странице каждый день.</h4>
                <ul class="list">
                    <li>
                        <a href="/xml/all.xml">Все сразу (анекдоты, афоризмы, картинки и др.).</a>
                        <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/all.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                        <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/all.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
                        
                    </li>
                    <li><a href="/xml/anekdot.xml">Только анекдоты.</a>
                        <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/anekdot.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                        <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/anekdot.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
                    </li>
                    <li>
                        <a href="/xml/kartinka.xml">Только картинки.</a>
                        <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/kartinka.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                        <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/kartinka.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
                    </li>
                    <li>
                        <a href="/xml/aforizm.xml">Только афоризмы.</a>
                        <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/aforizm.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                        <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/aforizm.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
                    </li>
                    <li>
                        <a href="/xml/rasskaz.xml">Только рассказы.</a>
                        <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/rasskaz.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                        <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/rasskaz.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
                    </li>
                    <li>
                        <a href="/xml/mysli-velikikh.xml">Мысли, высказывания и цитаты.</a>
                        <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/mysli-velikikh.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                        <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/mysli-velikikh.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
                    </li>
                    <li>
                        <a href="/xml/interesno.xml">Интересные факты и истории из жизни.</a>
                        <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/interesno.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                        <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/interesno.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
                    </li>
                    <li>
                        <a href="/xml/stishki.xml">Собрание стихов русских поэтов.</a>
                        <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/stishki.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                        <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/stishki.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
                    </li>
                </ul>
                
                <p>
                    <a style="color:#000" href="http://www.yandex.ru/?add=116314&from=promocode" rel="nofollow"><b>Ставь <span style="color:red">Я</span>ндекс.Виджет</b></a>, читай <a href="https://twitter.com/YourMood">Twitter</a> и не будь мудаком!
                </p>

            </td>
        </tr>
    </tbody>
</table>

</#if>