<table style="margin: 0;" width="801" border="0" cellspacing="0" cellpadding="4">
    <tbody>
        <tr>
            <td bgcolor="42529C">
                <h1>Секретная форма</h1>
            </td>
        </tr>
        <tr>
            <td align="right" class="border">

                <ol id="message">
                    ${content.getUploadMessage()}
                </ol>
                <form method="POST" action="/FileUpload#form2" enctype="multipart/form-data">
                    Ваше имя:<input type="text" name="name" value="${content.getUploadName()!''}"><br>
                    E-Mail: <input type="text" name="email" value="${content.getUploadEmail()!''}"><br>
                    <p>
                        <select name="type">
                        <#list category?keys as key>
                        <option value="${category[key]['hurl']!''}">${category[key]['name']!''}</option>
                        </#list>
                        </select>
                    </p>

                    <p>
                        Заголовок:<input type="text" name="title" value="" style="width: 100%"><br>
                    </p>

                    <!--<div id="list-field">
                        <p>
                            Анекдот / Надпись над картинкой:<br>
                            <textarea name="text" rows="9" style="width: 100%"></textarea>
                        </p>

                        <p style="text-align: left">
                            Загрузить картинку?
                            <input type="file" name="photo"/>
                        </p>
                        <p>
                            Описание картинки:<br>
                            <textarea name="alt" rows="3" style="width: 100%"></textarea>
                        </p>
                    </div>-->

                    ${content.getUploadListContent()!''}

                    <div id="content-list-field"></div>

                    <a id="link-list-field" href="">Добавить ещё форму +</a>
                    все формы будут объединены в один пост.


                    <p>
                        <input type="submit" name="button" value="НАТЕ!">
                    </p>
                </form>
            </td>
        </tr>
    </tbody>
</table>
