<link href="/templates/dmoz/css/add/add.css" rel="stylesheet" type="text/css">
<link href="/templates/dmoz/css/add/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/templates/dmoz/js/add/uploaderObject.js?1" charset="utf-8"></script>
<script type="text/javascript" src="/templates/dmoz/js/add/interface.js?1" charset="utf-8"></script>
<div id="add">
    <h1>Изготовить пост</h1>

    <div id="add__logout"></div>

    <form>
        <div class="field"><input type="text" name="name" value="Змей"></div>
        <div class="field"><input type="text" name="email" value="test_iormark@yandex.ru"></div>

        <div class="field"><input type="text" name="title" value="Тест - 'тес#" id="filed__title"></div>
        <input type="hidden" name="key" value="${content.getFileKey()}">
    </form>


    <div id="wrapper">

        <div id="workfield">
            <div id="content">
                <div>Чтобы добавить картинки, выбери их в поле
                    <input type="file" name="file" id="file-field" multiple><br/>
                    ... или просто перетащи в область ниже
                </div>
                <div id="img-container">
                    <ul id="img-list">
                        <li><textarea name="text"></textarea></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="field">
            <div>Теги</div>
            <input type="text" name="tags" value="хуй, жопа" id="filed__tags">
        </div>

        <div id="leftpanel">
            <div id="actions">
                <span id="info-count">Изображений не выбрано</span><br/>
                Общий размер: <span id="info-size">0</span> Кб<br/><br/>
                <button id="upload-all">Загрузить</button>
            </div>

            <div id="console">
            </div>
        </div>

    </div>


</div>