<link href="/templates/dmoz/css/add/add.css" rel="stylesheet" type="text/css">
<link href="/templates/dmoz/css/add/main.css" rel="stylesheet" type="text/css">

<p>Прежде чем добавить новость, ознакомьтесь с <a href="/wtf.html">правилами!</a></p>
<p class="faq">
    Создаете новость не указав что она содержит контент для взрослых или ненормативную лексику -10 рейтинга.
    <a href="/wtf.html#high_8" target="_blank">Подробнее...</a>
    <br>
    <br>
    Пользуйтесь сервисами для поиска картинок если изображение низкого качества:<br>
    <a href="http://www.google.ru/imghp" target="_blank">Google Картинки</a>, 
    <a href="http://images.yandex.ru" target="_blank">Яндекс Картинки</a>
</p>
<div id="add__post"  style="border: 0px solid #ddd;padding: .7em .7em .7em 0">

    <div class="field"><input type="text" name="title" value="${(content.getPost()['title'])!''}" placeholder="название" id="filed__title"></div>
    <input type="hidden" name="key" value="${(content.getFileKey())!'0'}">
    <input type="hidden" name="post" value="${(content.getHashId())!'0'}">

    <ul id="file_list" class="draggable">

        <#if (content.getItem()?size> 0)>
        <#list content.getItem()?keys as key>
        <#assign type = (content.getItem()[key]["type"]!"")>
        <#assign cont = (content.getItem()[key]["content"]!"")>


        <li class="read">
            <div class="item-options"><span class="item-delete">Удалить</span></div>


            <#if (type=='text')><textarea name="text" cols="2">${cont}</textarea></#if>

            <#if (type=='image')>
            <input type="file" class="file_input" name="files" multiple="">
            <div class="file_name"></div>
            <#if (content!='')>
            <img src="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/small_${cont}">
            <div class="progress"><div class="percent" style="width: 100%;">100%</div></div>
            </#if>
            </#if>

            <#if (type=='video')>
            <div>Видео (Coub): URL или &lt;iframe&gt;</div>
            <input type="text" name="video" value="${cont}">
            </#if>

            <input type="hidden" name="id" value="${key}">
            <input type="hidden" name="sort" value="${(content.getItem()[key]['sort'])!''}">

        </li>
        </#list>
        <#else>
        <!--<li>
            <input type="file" class="file_input" name="files" multiple="">
            <textarea name="text" cols="2"></textarea>
            <input type="hidden" name="id" value="0">
            <input type="hidden" name="sort" value="0">
        </li>-->
        </#if>
    </ul>

    <div class="field">
        <button id="filed__add--text" class="btn add">Добавить текст</button>
        <button id="filed__add--image" class="btn add">Добавить картинку</button>
        <#if ( user.getRating()> 200 )>
        <button id="filed__add--video" class="btn add">Добавить видео</button>
        </#if>
    </div>

    <div class="field">
        <div>Теги (укажите от 2 до 6 тегов через запятую)</div>
        <input type="text" name="tags" value="<#if (content.getTagsItem()[content.getId()?string])??><#list content.getTagsItem()[content.getId()?string] as tag>${tag}, </#list></#if>" id="filed__tags">
        <div id="filed__autocomplete"></div>
    </div>


    <div class="field">
        <input id="age" style="margin: 3px 0 0 0;" type="checkbox" name="age" <#if ((content.getPost()['age']!'')=='18')>checked</#if>> 
               <label for="age">Контент для взрослых</label>
    </div>

    <div class="field">
        <input id="profanity" style="margin: 3px 0 0 0;" type="checkbox" name="profanity" <#if ((content.getPost()['profanity']!'')=='on')>checked</#if>> 
               <label for="profanity">В добавляемой новости присутствует <b>ненормативная лексика</b></label>
    </div>



    <div id="actions">
        <button id="upload" class="btn save"><#if (content.getId()> 0)>Сохранить<#else>Загрузить</#if></button>
        <span id="add__info"></span>
    </div>

    <div id="console"></div>
</div>


<script type="text/javascript" src="/templates/dmoz/js/add/add.min.js?1" defer></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" defer></script>
