<link href="/templates/dmoz/css/add/add.css" rel="stylesheet" type="text/css">
<link href="/templates/dmoz/css/add/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/templates/dmoz/js/add/uploaderObject.js?2" charset="utf-8"></script>
<script type="text/javascript" src="/templates/dmoz/js/add/interface.js?2" charset="utf-8"></script>
<div id="add__post">
    <h1>Изготовить пост <small>(Beta)</small></h1>

    <div class="faq">
        Изготовления поста, дело серьезное и ответственное. И подходить к нему требуется с великим чаянием и старанием.
        <ul>
            <li>Автор поста, должен быть.</li>
            <li>Картинка, должна быть девственно чистой, а содержание мусора в виде логотипов, строго запрещено!</li>
            <li>Название поста должно быть осмысленным и с большой буквы.</li>
            <li>Помни о золотом правиле – "краткость – сестра таланта".</li>
            <li>Не добавляй пост, который уже есть на Порке.</li>
        </ul>
        Следуя этим простым и не хитрым правилам, ты сможешь изготовить хороший пост невозбранно.
    </div>
    
    <div id="add__logout"></div>

    <form>
        <div class="field"><input type="text" name="name" placeholder="имя" value=""></div>
        <div class="field"><input type="text" name="email" placeholder="email" value=""></div>

        <div class="field"><input type="text" name="title" placeholder="название" value="" id="filed__title"></div>
        <input type="hidden" name="key" value="${content.getFileKey()}">
    </form>


    <div id="wrapper">

        <div id="workfield">
            <div id="content">
                <div>Чтобы добавить картинки, выбери их в поле
                    <input type="file" name="file" id="file-field" multiple><br/>
                    
                </div>
                <div id="img-container">
                    <ul id="img-list">
                        <li><textarea name="text"></textarea></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="field">
            <div>Теги</div>
            <input type="text" name="tags" value="" id="filed__tags">
        </div>

        <div id="leftpanel">
            <div id="actions">
                <span id="info-count">Изображений не выбрано</span><br/>
                Общий размер: <span id="info-size">0</span> Кб<br/><br/>
                <button id="upload-all">Загрузить</button>
            </div>

            <div id="console">
            </div>
        </div>

    </div>


</div>