<h1>Список развлекательных ресурсов</h1>

<ul class="list">
    <li>
        <a href="http://webdesert.ru/" target="_blank">WEBDESERT.RU - популярный развлекательный портал.</a>
    </li>
</ul>

<h1>Список просто ресурсов</h1>

<ul class="list">
    <li>
        <a href="http://www.knigoed.info/" target="_blank">Книгоеб - просто поиск книг.</a>
    </li>
    <li>
        <a href="http://jrubber.org/" target="_blank">JRubber - какой то резиновый слайдер.</a>
    </li>
    <li>
        <a href="http://yasno-ponyatno.ru/" target="_blank">Ясно Понятно - какая то рассылка.</a>
    </li>
</ul>

<h1>Список различных ресурсов</h1>

<ul class="list">
    <li>
        <a href="http://www.wolist.ru/" target="_blank">WOlist.ru - каталог качественных сайтов Рунета.</a>
    </li>
    <li>
        <a href="http://www.promotion.su/" target="_blank">Promotion.su - Каталог сайтов и ссылок.</a>
    </li>
</ul>

<p>
    Интересующую ссылку можно выбрать <a href="/link.html">здесь</a>.<br>
    Иногда обмениваемся ссылками с тематическими сайтами. Обращайтесь по адресу <a href="mailto:doc@yourmood.ru">doc@yourmood.ru</a>
</p>


