${content.getMenu()!""}
<div style="border-top: 2px solid #669933;border-bottom: 0px solid #CCCCCC;clear: both;margin-bottom: 1.5em"></div>

<#if content.getItem()??>
<#assign i = 0>
<#list content.getItem()?keys as key>
<#assign i = i+1>


<article id="i__${key}" class="item__segment" <#if ((content.getItem()[key]['image']!'')!='')>itemscope itemtype="http://schema.org/ImageObject"</#if>>
         <div class="list_head">

        <div class="vote">
            <div class="vote_up" value="${key}" title="+1">&nbsp;</div>
            <span id="vote_${key}" class="vote_count ">${(content.getItem()[key]["vote"])!""}</span>
            <div class="vote_down" value="${key}" title="-1">&nbsp;</div>
        </div>

        <div class="list_title">
            <a class="h2" href="/post?id=${key}">${(content.getItem()[key]['title'])!''} ${(content.getItem()[key]['itemCount'])!''}</a>
        </div>

        <div class="list_date">
            <b title="${content.getItem()[key]['dateMore']}"><span style="color: red;">${content.getItem()[key]['date']!''}</span></b>
            <span>Добавил(а): ${content.getItem()[key]["name"]!"Волонтер"}</span>
            <#if (((content.getItem()[key]['commentCount'])!'0') > 0)>
            <a href="/post?id=${key}#comments">Комментариев ${(content.getItem()[key]['commentCount'])!''}</a>
            </#if>

            <#if (content.getTagsItem()[key])??>
            <#list content.getTagsItem()[key] as tag>
            <a href="/tag/${tag}">${tag}</a>
            </#list>
            </#if>
        </div>

    </div>

    <div class="list_info">
        <#if ((content.getItem()[key]["text"]!'')!='')>
        <div class="text">${(content.getItem()[key]["text"])!""}</div>
        </#if>

        <#if ((content.getItem()[key]['image']!'')!='')>
        <div class="item__image">
            <meta itemprop="description" content="${content.getItem()[key]['alt']!''}">
            <meta itemprop="contentUrl" content="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/${content.getItem()[key]['image']!''}">
            <#if (((content.getItem()[key]['animated'])!'')!='')>
            <div style="display: inline-block;position: relative">
                <a class="image img__href img__animated" value="${(content.getItem()[key]['imagePath'])!''}:${(content.getItem()[key]['image'])!''}" target="_blank" href="/anekdot?id=${key}">
                    <img class="border" src="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/middle_${(content.getItem()[key]['image'])!''}" alt="${content.getItem()[key]['alt']!''}" width="${(content.getItem()[key]['width'])!''}" height="${(content.getItem()[key]['height'])!''}">
                    <div class="list__info__img__hint">gif, ${content.getItem()[key]['size']!''}</div>
                </a>
            </div>
            <#else>
            <a class="image img__href" target="_blank" href="/post?id=${key}">
                <img class="border" src="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/middle_${(content.getItem()[key]['image'])!''}" alt="${content.getItem()[key]['alt']!''}" width="${(content.getItem()[key]['width'])!''}" height="${(content.getItem()[key]['height'])!''}">
            </a>
            </#if>
        </div>
        ${content.getItem()[key]["readMore"]!""}
        </#if>
    </div>

    <div class="list_meta">
        <a href="/post?id=${key}#add-comments">Комментировать</a>
    </div>
    
</article>
</#list>
<#else>
<div class="code">
    Уже давно, никто не добавлял сюда ничего интересного=(
    
</div>
</#if>

<#if ((content.PageNavig()!"")!="")>
<hr>
<div class="pagNav">
    <p>${content.PageNavig()}</p>
</div>
<hr>
</#if>




<#if main=="1">
<div class="faq">
    <p>Все самое смешное на сайте "Юмор + Интеллект". Здесь собраны смешные картинки, анекдоты и демотиваторы обновляющиеся каждый день. Коллекция курьезных, поучительных и просто очень смешных анекдотов, афоризмов, историй, которые будет приятно почитать...</p>
    <p>Мы постарались собрать для вас самые лучшие, самые смешные анекдоты в мире, интересные истории, афоризмы и высказывания.</p>
</div>
<#else>
<#if (((content.getSelectedType()["body"])!"")!="")>
<div class="faq">
    ${(content.getSelectedType()["body"])!""}
</div>
</#if>
</#if>


<script type="text/javascript">
    $(document).ready(function() {
        try {
            $('body').listScroll({});
        } catch (e) {}    
    });    
</script>