${content.getMenu()!""}
<div class="menu__line"></div>

<#include "/item.html">


<#if main=="1">
<div class="faq">
    <p>Все самое смешное на сайте "Юмор + Интеллект". Здесь собраны смешные картинки, анекдоты и демотиваторы обновляющиеся каждый день. Коллекция курьезных, поучительных и просто очень смешных анекдотов, афоризмов, историй, которые будет приятно почитать...</p>
    <p>Мы постарались собрать для вас самые лучшие, самые смешные анекдоты в мире, интересные истории, афоризмы и высказывания.</p>
</div>
<#else>
<#if (((content.getSelectedType()["body"])!"")!="")>
<div class="faq">
    ${(content.getSelectedType()["body"])!""}
</div>
</#if>
</#if>


