<#if content.getItem()??>
<#assign i = 0>
<#list content.getItem()?keys as key>
<#assign i = i+1>


<article id="i__${key}" class="item__segment">
    <div class="list_head">

        <div class="post__opts">
            <div class="vote stop">
                <div class="vote_up" value="${key}" title="+1">&nbsp;</div>
                <span id="vote_${key}" class="vote_count ">${(content.getItem()[key]["vote"])!""}</span>
                <div class="vote_down" value="${key}" title="-1">&nbsp;</div>
            </div>
            <div class="comment__count">
                <a class="comment" href="/post?id=${key}#add-comment" target="_blank">
                    <span class="icon"></span>
                    <span>${(content.getItem()[key]['commentCount'])!'0'}</span>
                </a>
            </div>
        </div>

        <div class="list_title">
            <a class="h2" href="/post?id=${key}" target="_blank">${(content.getItem()[key]['title'])!''}</a>
        </div>

        <div class="list_date">
            <b title="${(content.getItem()[key]['created'])!''}"><span style="color: red;">${(content.getItem()[key]['created'])!''}</span></b>
            Добавил(а): <a href="/${content.getItem()[key]['login']!''}">${content.getItem()[key]["login"]!"Волонтер"}</a>

            <#if (content.getTagsItem()[key])??>
            <#list content.getTagsItem()[key] as tag>
            <a href="/tag/${tag}" class="tagged__tag">${tag}</a>
            </#list>
            </#if>
        </div>

    </div>

    <#if ((content.getItem()[key]["type"])??)>
    <div class="list_info" <#if ((content.getItem()[key]["type"])=='image')>itemscope itemtype="http://schema.org/ImageObject"</#if>>
        <#if ((content.getItem()[key]["type"])=='text')>
        <div class="text">${(content.getItem()[key]["content"])!""}</div>
        </#if>

        <#if ((content.getItem()[key]["type"])=="image")>
        <div class="item__image">
            <meta itemprop="description" content="${(content.getItem()[key]['title'])!''} - ${content.getAlt(key)!''}">
            <meta itemprop="contentUrl" content="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/${content.getItem()[key]['content']!''}">
            <#if (((content.getItem()[key]['animated'])!'')!='')>
            <div style="display: inline-block;position: relative">
                <a class="image img__href img__animated" value="${(content.getItem()[key]['imagePath'])!''}:${(content.getItem()[key]['content'])!''}" target="_blank" href="/anekdot?id=${key}">
                    <img class="border" src="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/middle_${(content.getItem()[key]['content'])!''}" alt="${content.getAlt(key)!''}" width="${(content.getItem()[key]['width'])!''}" height="${(content.getItem()[key]['height'])!''}">
                    <div class="list__info__img__hint">gif, ${content.getItem()[key]["size"]!""}</div>
                </a>
            </div>
            <#else>
            <a class="image img__href" target="_blank" href="/post?id=${key}">
                <img class="border" src="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/middle_${(content.getItem()[key]['content'])!''}" alt="${content.getAlt(key)!''}" width="${(content.getItem()[key]['width'])!''}" height="${(content.getItem()[key]['height'])!''}">
            </a>
            </#if>
        </div>
        </#if>

        <#if ((content.getItem()[key]["type"])=="video")>
        <div class="text">${(content.getItem()[key]["content"])!""}&nbsp;</div>
        </#if>
    </div>
    </#if>
    
    <#if ((content.getItem()[key]["type2"])??)>
    <div class="list_info" <#if ((content.getItem()[key]["type2"])=='image')>itemscope itemtype="http://schema.org/ImageObject"</#if>>
        <#if ((content.getItem()[key]["type2"])=='text')>
        <div class="text">${(content.getItem()[key]["content2"])!""}</div>
        </#if>

        <#if ((content.getItem()[key]["type2"])=="image")>
        <div class="item__image">
            <meta itemprop="description" content="">
            <meta itemprop="contentUrl" content="http://yourmood.ru${(content.getItem()[key]['imagePath2'])!''}/${content.getItem()[key]['content2']!''}">
            <#if (((content.getItem()[key]['animated2'])!'')!='')>
            <div style="display: inline-block;position: relative">
                <a class="image img__href img__animated" value="${(content.getItem()[key]['imagePath2'])!''}:${(content.getItem()[key]['content2'])!''}" target="_blank" href="/anekdot?id=${key}">
                    <img class="border" src="http://yourmood.ru${(content.getItem()[key]['imagePath2'])!''}/middle_${(content.getItem()[key]['content2'])!''}" alt="${content.getAlt(key)!''}" width="${(content.getItem()[key]['width2'])!''}" height="${(content.getItem()[key]['height2'])!''}">
                    <div class="list__info__img__hint">gif, ${content.getItem()[key]["size2"]!""}</div>
                </a>
            </div>
            <#else>
            <a class="image img__href" target="_blank" href="/post?id=${key}">
                <img class="border" src="http://yourmood.ru${(content.getItem()[key]['imagePath2'])!''}/middle_${(content.getItem()[key]['content2'])!''}" alt="${content.getAlt(key)!''}" width="${(content.getItem()[key]['width2'])!''}" height="${(content.getItem()[key]['height2'])!''}">
            </a>
            </#if>
        </div>
        </#if>

        <#if ((content.getItem()[key]["type2"])=="video")>
        <div class="text">${(content.getItem()[key]["content2"])!""}&nbsp;</div>
        </#if>
        
        ${(content.getItem()[key]["readMore"])!""}
    </div>
    </#if>
         

</article>
</#list>
<#else>
<div class="code">
    Тут пусто=(
</div>
</#if>


<#if ((content.PageNavig()!"")!="")>

<div class="pagNav">
    <p>${content.PageNavig()}</p>
</div>

</#if>


<script type="text/javascript">
    $(document).ready(function() {
        try {
            $('body').listScroll({});
        } catch (e) {
        }
    });
</script>
