<h1>Как сделать ссылку на YourMood</h1>
<p>Мы очень приветствуем ссылки с ваших сайтов. Поддержите "Порку анекдотов", поставьте ссылку на нас.</p>

<p>Добавьте поисковую форму на свой сайт. Очень качественный и быстрый поиск анекдотов и картинок:</p>
<form class="center" action="http://yourmood.ru/" method="get">
    <input size="18" name="key" title="Поиск" placeholder="Поиск">
    <input type="submit" value="Пороть в YourMood">
    <input type="hidden" name="q" value="search"><br>
    <a href="/" title="YourMood: Анекдоты, картинки, афоризмы..."><b>yourmood.ru</b></a>
</form>

<blockquote class="code">
    &lt;form action="http://yourmood.ru/" method="get"&gt;&lt;input size="18" name="key" title="Поиск" placeholder="Поиск"&gt; &lt;input type="submit" value="Пороть в YourMood"&gt;&lt;input type="hidden" name="q" value="search"&gt;&lt;br&gt;&lt;a href="http://yourmood.ru/" title="YourMood: Анекдоты, картинки, афоризмы..."&gt;&lt;b&gt;yourmood.ru&lt;/b&gt;&lt;/a&gt;&lt;/form&gt;
</blockquote>

<p>
    Если вы хотите поставить ссылку на сайт "<a href="/anekdoty.html">смешных анекдотов</a>", берите эту картинку:
</p>

<div class="center"><a href="/" title="YourMood: Анекдоты, картинки, афоризмы..."><img src="/yourmood.gif" alt="YourMood, Анекдоты" width="88" height="31" vspace="5" border="0"></a></div>

<blockquote class="code">
    &lt;a href="http://yourmood.ru/" title="YourMood: Анекдоты, картинки, афоризмы..."&gt;&lt;img src="http://yourmood.ru/yourmood.gif" alt="YourMood: Анекдоты, картинки, афоризмы..."  width="88" height="31" vspace="5" border="0"&gt;&lt;/a&gt;
</blockquote>
<p>&nbsp;</p>
<p>Если вы не хотите брать картинку, ставьте ссылку просто так.</p>

<blockquote class="code">
    &lt;a href="http://yourmood.ru/" title="YourMood: Анекдоты, картинки, афоризмы..."&gt;&lt;b&gt;Юмор + Интеллект &mdash; Самое смешное.&lt;/b&gt;&lt;/a&gt;
</blockquote>