<script type="text/javascript">
    $(document).ready(function() {
    try {
    $('body').listScroll({});
    } catch (e) {log(e)}

    try {
    $('#addComment').addComment({id:${content.getId()}});
    } catch (e) {log(e)}
    });</script>

<article>
    <#if (content.getTagsItem()[content.getId()])??>
    <div class="tagged__post">
        <#list content.getTagsItem()[content.getId()] as tag>
        <a href="/tag/${tag}" class="tagged__tag" title="${tag}" rel="tag">${tag}</a>
        </#list>
    </div>
    </#if>


    <div class="post_head">

        <div class="vote">
            <div class="vote_up" value="${(content.getItemMeta()['id'])!''}" title="+1">&nbsp;</div>
            <span id="vote_${(content.getItemMeta()['id'])!'0'}" class="vote_count ">${(content.getItemMeta()["vote"])!""}</span>
            <div class="vote_down" value="${(content.getItemMeta()['id'])!''}" title="-1">&nbsp;</div>
        </div>

        <div class="post_title">
            <h1>${content.getTitle()!""}</h1>
        </div>

        <div class="post_date">
            <span style="color: red;">${(content.getItemMeta()["created"])!""}</span>
            <span class="author">Добавил(а): ${(content.getItemMeta()["name"])!"Волонтер"}</span>
            <div id="share">
                <a href="#ddd" onclick="return false"><span>Отправить<span></span></a>
                <ul>
                    <li><a href="#" title="Рассказать друзьям в Контакте" class="vkontakte" rel="nofollow">В контакте</a>&nbsp;</li>
                    <li><a href="#" title="Рассказать друзьям в Facebook" class="facebook" rel="nofollow">Facebook</a>&nbsp;</li>
                    <li><a href="#" title="Рассказать друзьям в Google+" class="gplus" rel="nofollow">Google+</a>&nbsp;</li>
                    <li><a href="#" title="Рассказать друзьям в LiveJournal" class="jj" target="_blank" rel="nofollow">LiveJournal</a>&nbsp;</li>
                    <li><a href="#" title="Рассказать друзьям в Я.ру" class="yaru" target="_blank" rel="nofollow">Я.ру</a>&nbsp;</li>
                    <li><a href="#" title="Рассказать друзьям в Одноклассниках" class="odnoklassniki" rel="nofollow">Одноклассники</a>&nbsp;</li>
                    <li><a href="#" title="Рассказать друзьям в Twitter" class="twitter" rel="nofollow">Twitter</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="post_info">
        <#assign i = 0>
        <#list content.getItem()?keys as key>
        <#assign i = i+1>
        <div class="item__segment" <#if ((content.getItem()[key]['image']!'')!='')> itemscope itemtype="http://schema.org/ImageObject"</#if>>

             <#if ((content.getItem()[key]['text']!'')!='')>
             <div class="text">${(content.getItem()[key]['text'])!''}&nbsp;</div>
            <#elseif (content.getItem()?size>2) && (i==1)>
            <br><br>
            </#if>


            <#if ((content.getItem()[key]['image']!'')!='')>
            <div class="item__image">
                <#if (content.getItem()?size>2)>
                <span class="item__numbering">${i}</span>
                </#if>

                <meta itemprop="description" content="${content.getItem()[key]['alt']!''}">
                <meta itemprop="contentUrl" content="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/${content.getItem()[key]['image']!''}">
                <#if (((content.getItem()[key]['animated'])!'')!='')>
                <div style="display: inline-block;position: relative">
                    <a class="image img__href img__animated" value="${(content.getItem()[key]['imagePath'])!''}:${(content.getItem()[key]['image'])!''}" target="_blank" href="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/${content.getItem()[key]['image']!''}">
                        <img class="border" src="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/middle_${(content.getItem()[key]['image'])!''}" alt="${content.getItem()[key]['alt']!''}" width="${(content.getItem()[key]['width'])!''}" height="${(content.getItem()[key]['height'])!''}">
                        <div class="list__info__img__hint">gif, ${content.getItem()[key]['size']!''}</div>
                    </a>
                </div>
                <#else>
                <a class="image img__href" target="_blank" href="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/${content.getItem()[key]['image']!''}">
                    <img class="border" src="http://yourmood.ru${(content.getItem()[key]['imagePath'])!''}/middle_${(content.getItem()[key]['image'])!''}" alt="${content.getItem()[key]['alt']!''}" width="${(content.getItem()[key]['width'])!''}" height="${(content.getItem()[key]['height'])!''}">
                </a>
                </#if>
            </div>
            </#if>

        </div>
        </#list>
    </div>

    <div class="post_meta">
    </div>
</article>
<!--
<div style="margin: 1em 5px 1em 67px;">
    <#if ((content.getBN()['next'])??)>
    <div style="float: left">
        <span style="font-size: 16px">←</span> <a href="/post?id=${(content.getBN()['next']['id'])!''}" title="${(content.getBN()['next']['title'])!''}">${(content.getBN()['next']['name'])!''}</a> &nbsp; 
    </div>
    </#if>
    &nbsp;
    <#if ((content.getBN()['back'])??)>
    <div style="float: right">
        <a href="/post?id=${(content.getBN()['back']['id'])!''}" title="${(content.getBN()['back']['title'])!''}" style="margin-left: 10px;">${(content.getBN()['back']['name'])!''}</a>  <span style="font-size: 16px">→</span>
    </div>
    </#if>
</div>
-->

<div id="comment__get" class="getComment" style="width: 600px">
    <#if (content.getComment()?size>0)>
    
    <div class="comment_info">
    <h3>комментариев: ${content.getComment()?size!"0"}</h3>
    </div>
    
    
    <#list content.getComment()?keys as key>
    <div class="comment" id="comment_${key}">
        <div>
            <div class="comment_head">
                <span class="vote_comment">
                    <span id="vote_${key!'0'}" class="vote_count ">${(content.getComment()[key]["vote"])!""}</span>
                    <span class="vote_up" value="${key!''}_comment" title="+1">&nbsp;</span>
                    
                    <span class="vote_down" value="${key!''}_comment" title="-1">&nbsp;</span>
                </span>
                <span class="created">отправлено ${content.getComment()[key]["created"]!""}</span>
                <a href="#comment_${key}">#<span></span></a>
            </div>

            <div class="text">
                ${content.getComment()[key]["comment"]!""}
            </div>
        </div>
    </div>
    </#list>
    </#if>
</div>

<fieldset class="noBorder">
    <div id="add-comments" style="width: 600px">
        <form method="post" action="/Service" id="addComment">
            <div class="addComment">

                <div id="message"></div>

                <div>
                    <div><b>Комментарий</b> <span>*</span></div>
                    <textarea rows="2" name="text" class=""></textarea>
                </div>
                <div>
                    <input type="hidden" name="q" value="AddComment">
                    <input type="hidden" name="id" value="${content.getId()}">
                    <input type="submit" name="button" value="Комментировать" class="btn">
                </div>
            </div>
            <div>

            </div>
        </form>
    </div>
</fieldset>

<br>

<script type="text/javascript" src="/templates/dmoz/js/lib.js" charset="utf-8"></script>




