<h1>RSS-подписка</h1>

<p>Cписок RSS-лент — это всегда быстрый и удобный способ чтения любимых анекдотов, историй, афоризмов и др. браузером или агрегатором:</p>

<table class="data">
    <tbody>
        <tr>
            <th>Rss</th>
            <th>Агрегатор's</th>
        </tr>
        <tr>
            <td><b><a href="/xml/all.xml">Основной Rss-поток</a></b></td>
            <td>
                <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/all.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/all.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
            </td>
        </tr>
    </tbody>
</table>

<p>&nbsp;</p>
<h1>Социальные сети</h1>

<p>Вы можете подписаться на наши обновления в социальных сетях:</p>
<table class="data">
    <tbody>
        <tr>
            <th>URL</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td><b><a href="http://www.yandex.ru/?add=116314" rel="nofollow" target="_blank"><span style="color:red">Я</span>ндекс.Виджет</a></b></td>
            <td>
                Дополнительный блок, устанавливаемый пользователями на главную страницу Яндекса: <a href="/anekdoty.html">смешные анекдоты</a>, афоризмы, картинки и др.
            </td>
        </tr>
        <tr>
            <td><a href="https://twitter.com/YourMood" rel="nofollow" target="_blank"><b>Twitter</b></a></td>
            <td>
                Система, позволяющая пользователям отправлять короткие текстовые заметки. Оставайтесь на связи.
            </td>
        </tr>
        <tr>
            <td><a href="http://vk.com/porka_anekdotov" rel="nofollow" target="_blank"><b>ВКонтакте</b></a></td>
            <td>
                Седина мне в бороду.
            </td>
        </tr>
    </tbody>
</table>

<p>&nbsp;</p>
<h1>Архив (больше не обновляется)</h1>
<table class="data">
    <tbody>
        <tr>
            <th>Rss</th>
            <th>Агрегатор's</th>
        </tr>
        <tr>
            <td><b><a href="/xml/anekdot.xml">Только анекдоты.</a></b></td>
            <td>
                <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/anekdot.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/anekdot.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
            </td>
        </tr>
        <tr>
            <td><b><a href="/xml/kartinka.xml">Только картинки.</a></b></td>
            <td>
                <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/kartinka.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/kartinka.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
            </td>
        </tr>
        <tr>
            <td><b><a href="/xml/aforizm.xml">Только афоризмы.</a></b></td>
            <td>
                <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/aforizm.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/aforizm.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
            </td>
        </tr>
        <tr>
            <td><b><a href="/xml/rasskaz.xml">Только рассказы.</a></b></td>
            <td>
                <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/rasskaz.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/rasskaz.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
            </td>
        </tr>
        <tr>
            <td><b><a href="/xml/mysli-velikikh.xml">Мысли, высказывания и цитаты.</a></b></td>
            <td>
                <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/mysli-velikikh.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/mysli-velikikh.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
            </td>
        </tr>
        <tr>
            <td><b><a href="/xml/interesno.xml">Интересные факты и истории из жизни.</a></b></td>
            <td>
                <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/interesno.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/interesno.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
            </td>
        </tr>
        <tr>
            <td><b><a href="/xml/stishki.xml">Собрание стихов русских поэтов.</a></b></td>
            <td>
                <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/stishki.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/stishki.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
            </td>
        </tr>
        <tr>
            <td><b><a href="/xml/demotivatory.xml">Демотиваторы в большинстве своем нормальные.</a></b></td>
            <td>
                <a href="http://fusion.google.com/add?source=atgs&feedurl=http://yourmood.ru/xml/demotivatory.xml" target="_blank"><img src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Добавить в Google"></a>
                <a href="http://mail.yandex.ru/lenta/add?feed_url=http://yourmood.ru/xml/demotivatory.xml" target="_blank"><img src="http://img.yandex.net/i/addfeed.gif" border="0" alt="Читать в Яндекс.Подписках"/></a>
            </td>
        </tr>
    </tbody>
</table>
<!--
<p>&nbsp;</p>
<h1>Синдикация</h1>
<a href="http://rsslenta.ru/visitor/syndication/id/32379" target="_blank" rel="nofollow"><img src="http://rsslenta.ru/visitor/image/type/button/id/32379" border="0" width="80"></a>

<p>Вы можете показывать обновления YourMood на своем сайте с помощью удобного виджета.</p>
-->