<link href="/templates/dmoz/css/secretform.css" rel="stylesheet" type="text/css">
<div>

    <h1>Изготовление поста</h1>
    <div class="faq">
        Изготовления поста, дело серьезное и ответственное. И подходить к нему требуется с великим чаянием и старанием.
        <ul>
            <li>Автор поста, должен быть.</li>
            <li>Картинка, должна быть девственно чистой, а содержание мусора в виде логотипов, строго запрещено!</li>
            <li>Название поста должно быть осмысленным и с большой буквы.</li>
            <li>Помни о золотом правиле – "краткость – сестра таланта".</li>
            <li>Не добавляй пост, который уже есть на Порке.</li>
        </ul>
        Следуя этим простым и не хитрым правилам, ты сможешь изготовить хороший пост невозбранно.
    </div>

    <#if content.getUploadMessage()!="">
    <ul class="error">
        ${content.getUploadMessage()}
    </ul>
    </#if>

    <form method="POST" action="/FileUpload#form2" enctype="multipart/form-data" id="addAnekdot">

        <div class="fieldName"><b>Автор поста:</b></div>
        <div class="fieldValue">
            <div class="substrate">
                <#if (content.getUploadName()??) && (content.getEdit()??)>
                <input type="text" name="name" value="${content.getUploadName()!''}" readonly class="readonly">
                <#else>
                <input type="text" name="name" value="${content.getUploadName()!''}" class="inp">
                </#if>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="fieldName"><b>E-Mail:</b></div>
        <div class="fieldValue">
            <div class="substrate">
                <#if (content.getUploadEmail()??) && (content.getEdit()??)>
                <input type="text" name="email" value="${content.getUploadEmail()!''}" readonly class="readonly">
                <#else>
                <input type="text" name="email" value="${content.getUploadEmail()!''}" class="inp">
                </#if>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="fieldName"><b>Категория:</b></div>
        <div class="fieldValue">
            <div class="substrate"><select name="type">${content.getCategoriesSelect()!""}</select></div>
        </div>

        <p>&nbsp;</p>

        <div>
            Заголовок:
            <div class="substrate">
                <input type="text" name="title" value="${content.getUploadTitle()!''}" style="width: 99%" class="inp">
            </div>
        </div>
        <br>


        <div id="content-list-field-main">
            ${content.getUploadListContent()!''}
        </div>

        <div id="content-list-field"></div>

        <a id="link-list-field" href="">Добавить ещё форму +</a>
        все формы будут объединены в один пост.


        <p>
            <input type="submit" name="button" value="НАТЕ!" class="btn" onclick="return confurmSubmit()">
        </p>
    </form>

    <p>&nbsp;</p>
    <h1>Послать пост</h1>
    <div class="faq">
        Посылайте свои анекдоты и картинки по адресу: <a href="mailto:doc@yourmood.ru">doc@yourmood.ru</a>. 
        <br>Мы никогда и никому не дадим ваш e-mail.
    </div>
</div>