<h1>Правила сайта</h1>
<style type="text/css">
    ol li {margin-bottom: 1em;}
    ul li {margin-bottom: 0.5em;}
</style>
<ol>
    <li id="high_1">
        <h4>Название пишите осмысленным и с большой буквы</h4>
        <div>
            Запрещено добавлять заголовок состоящий из символов только "ВЕРХНЕГО РЕГИСТРА", "ВЕрхНего РЕГИСТРА"
            или "модный,стильный,молодежный" соблюдайте интервал.
        </div>
    </li>
    <li id="high_2">
        <h4>Картинка должна быть не юзаной</h4>
        <div>
            Большинство сайтов клеймят свои логотипы на изображения (мы против такого издевательства над картинками).
            Поэтому картинка должна быть девственно чистой, а содержание мусора в виде логотипов строго запрещено!
            Разве что вы являетесь создателем, автором данного изображения и потратили на его создание более 5-и минут
            или логотип является частью изображения.
        </div>
    </li>
    <li id="high_3">
        <h4>Помните о золотом правиле – "краткость – сестра таланта"</h4>
        <div>Практически нет ограничений на длину создаваемого текста, однако, 
            не стоит писать киллометровые тексты, их просто никто не будет читать...</div>
    </li>
    <li id="high_4">
        <h4>Не добавляйте пост, который уже есть на сайте</h4>
        <div>Не стоит добавлять то, что уже есть, воспользуйтесь поиском, если не уверенны.</div>
    </li>
    <li id="high_5">
        <h4>На какую тему можно создавать пост?</h4>
        <div>От садоводства до космостроения.</div>
    </li>
    <li id="high_6">
        <h4>Как добавить видео?</h4>
        <div>Возможность добавлять видео (coub) появится при рейтинге 200+.</div>
    </li>
    <li id="high_7">
        <h4>О расовых отношениях</h4>
        <div>Мы уважаем друг друга и считаем, что расовая неприязнь это удел несвободных духом людей. Злоба, подлитая социальным мнением и диктующая правила напоминает стадо. YourMood.Ru - не за беложопых, не за черножопых. Если чурка еб*ет овцу это не хорошо, стебать это справедливо и значит, этому есть место. В противоположность этому: показуха своей неприязни к другой расе, которая ничем не обоснована, блокируется и удаляется.</div>
    </li>
    <li id="high_8">
        <h4>Контент для взрослых и ненормативная лексика</h4>
        <div>
            <p style="margin-top: 0;">
                Под этот фильтр должны попадать посты возрастная классификация которых 16+ и 18+:</p>
            <ul>
                <li>- порнография</li>
                <li>- эротика</li>
                <li>- катастрофы</li>
                <li>- бранные слова и др.</li>
            </ul>
            <p>Контент (текст, изображение, видео) содержащий в себе любую ненормативную лексику или контент для взрослых должен быть отмечен соответствующим пунктом.
                Создав новость содержашую контент для взрослых или ненормативную лексику и не указав соответствующие пункты, вы потеряете -10 рейтинга с одной новости.</p>
        </div>
    </li>
</ol>

<div class="faq">Размещаемая вами информация удаляется, если содержит контактную информацию с целью рекламы:
    ФИО, адрес, фотографии, ссылки на страницы в соц. сетях.
</div>

<h4>По вопросам обращайтесь на doc@yourmood.ru</h4>


