<h1>Правила сайта</h1>
<style>
    ol li {margin-bottom: 1em;}
</style>
<ol>
    <li>

        <h4>Название пишите осмысленным и с большой буквы</h4>
        <div>Запрещено добавлять заголовок состоящий из символов только ВЕРХНЕГО РЕГИСТРА или ВЕрхНего РЕГИСТРА.</div>
    </li>
    <li>
        <h4>Картинка должна быть не юзаной</h4>
        <div>
            Большинство сайтов клеймят свои логотипы на изображения (мы против такого издевательства над картинками).
            Поэтому картинка должна быть девственно чистой, а содержание мусора в виде логотипов строго запрещено!
            Разве что вы являетесь создателем, автором данного изображения и потратили на его создание более 5-и минут
            или логотип является частью изображения.
        </div>
    </li>
    <li>
        <h4>Помните о золотом правиле – "краткость – сестра таланта"</h4>
        <div>Практически нет ограничений на длину создаваемого текста, однако, 
            не стоит писать киллометровые тексты, их просто никто не будет читать...</div>
    </li>
    <li>
        <h4>Не добавляйте пост, который уже есть на сайте</h4>
        <div>Не стоит добавлять то, что уже есть, воспользуйтесь поиском, если не уверенны.</div>
    </li>
    <li>
        <h4>На какую тему можно создавать пост?</h4>
        <div>От садоводства до космостроения.</div>
    </li>
    <li>
        <h4>Как добавить видео?</h4>
        <div>Возможность добавлять видео (coub) появится при рейтинге 200+.</div>
    </li>
    <li>
        <h4>О расовых отношениях</h4>
        <div>Мы уважаем друг друга и считаем, что расовая неприязнь это удел несвободных духом людей. Злоба, подлитая социальным мнением и диктующая правила напоминает стадо. YourMood.Ru - не за беложопых, не за черножопых. Если чурка еб*ет овцу это не хорошо, стебать это справедливо и значит, этому есть место. В противоположность этому: показуха своей неприязни к другой расе, которая ничем не обоснована, блокируется и удаляется.</div>
    </li>
</ol>

<div class="faq">Размещаемая вами информация удаляется, если содержит контактную информацию с целью рекламы:
    ФИО, адрес, фотографии, ссылки на страницы в соц. сетях.
</div>

<h4>По вопросам обращайтесь на doc@yourmood.ru</h4>


