<h1>Правила сайта</h1>

<h4>Название пишите осмысленным и с большой буквы</h4>
<div>В любом случае название можно не добавлять, если для этого есть веские причины, пример: добавление анекдота или афоризма.</div>
<br>

<h4>Картинка должна быть не юзаной</h4>
<div>
    Большинство сайтов клеймят свои логотипы на изображения (мы против такого издевательства над картинками).
    Поэтому картинка должна быть девственно чистой, а содержание мусора в виде логотипов строго запрещено!
    Разве что вы являетесь создателем, автором данного изображения и потратили на его создание более 5-и минут
    или логотип является частью изображения.
</div>
<br>

<h4>Помните о золотом правиле – "краткость – сестра таланта"</h4>
<div>Практически нет ограничений на длину создаваемого текста, однако, 
    не стоит писать киллометровые тексты, их просто никто не будет читать...</div>
<br>

<h4>Не добавляйте пост, который уже есть на сайте</h4>
<div>Не стоит добавлять то, что уже есть, воспользуйтесь поиском, если не уверенны.</div>
<br>

<h4>На какую тему можно создавать пост?</h4>
<div>От садоводства до космостроения.</div>
<br>


<div class="faq">Размещаемая вами информация удаляется, если содержит контактную информацию с целью рекламы:
ФИО, адрес, фотографии, ссылки на страницы в соц. сетях.
</div>

<h4>По вопросам обращайтесь на doc@yourmood.ru</h4>


