<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
    

    <!--<param name="file" value="/home/mark/sites/knigoed/log/quest.log"/>-->

    
    <appender name="YaWidget" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/home/mark/sites/log/yourmood/YaWidget.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="200KB"/>
        <param name="MaxBackupIndex" value="2"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} - %m%n" />
        </layout>
    </appender>

    <!--
    Экспорт корзины покупок
    
    <appender name="export" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/home/mark/knigoedix/log/export.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="100KB"/>
        <param name="MaxBackupIndex" value="2"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} - %m%n" />
        </layout>
    </appender>-->

    <!--
    Запись ошибок

    <appender name="filing-error" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/home/mark/Ayata-local/logs/error.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="20KB"/>
        <param name="MaxBackupIndex" value="2"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} [%-5p][%L][%-15c] - %m%n%n" />
        </layout>
    </appender>-->
    
    <appender name="mailerror" class="org.apache.log4j.net.SMTPAppender">
        <param name="BufferSize" value="512" />
        <param name="SMTPHost" value="smtp.yandex.ru"/>
        <param name="From" value="doc@yourmood.ru"/>
        <param name="To" value="iormark@yandex.ru"/>
        <param name="Subject" value="Error" />
        <param name="SMTPUsername" value="neomno@yourmood.ru"/>
        <param name="SMTPPassword" value="DYh#cdfjFD65@DF"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} [%-5p][%L][%-15c] - %m%n%n" />
        </layout>
    </appender>
    
<!--
    <appender name="OUTERROR" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/home/mark/sites/log/yourmood/error.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="50KB"/>
        <param name="MaxBackupIndex" value="2"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} [%-5p][%L][%-15c] - %m%n%n" />
        </layout>
    </appender>
    
    
    <appender name="OUT-ERROR-MAIL" class="org.apache.log4j.net.SMTPAppender">
        <param name="BufferSize" value="512" />
        <param name="SMTPHost" value="smtp.yandex.ru"/>
        <param name="From" value="robot@knigoed.info"/>
        <param name="To" value="iormark@yandex.ru"/>
        <param name="Subject" value="Error" />
        <param name="SMTPUsername" value="robot@knigoed.info"/>
        <param name="SMTPPassword" value="DJY4h#cFD%65@DQ"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} - %m%n" />
        </layout>
    </appender>
    -->
    

    <category name="logic.Service" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="YaWidget"/>
    </category>
    <root>
        <priority value="ERROR"/>
        <appender-ref ref="mailerror" />
    </root>
</log4j:configuration>