#file_list {list-style: none;margin: 1em 0;padding: 0;}
#file_list li {
    border-left: 0px solid #ddd;
    margin-left: 0em;
    //padding: .5em 0 .5em 0em;
    text-align: left;
    margin-bottom: 1em;
    cursor: move;
    background: #fff;
    position: relative;
}
#file_list li .item-options {
    font-size: 80%;
    float: right;
    text-align: right;
    cursor: pointer;
    color:#999;
}
#file_list li img {width: 150px;}
#file_list li .progress {
    border: 0px solid #888888;
    text-align: center;
    width: 150px;
    font-size: 76%;
    -o-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
#file_list li .progress .percent {background-color: #99ccff;height: auto;line-height: 14px;}

#add__post input[type="text"], textarea {width: 99%;}
#add__post .field {
    margin-bottom: 1em;
}

#img-list li div.progress {
    width: 200px;
    border: 1px solid #888888;
    height: 18px;
    text-align: center;
    background-image: url('pbar_bgr.png');
    background-repeat: no-repeat;
    background-position: -150px center;
}
#filed__autocomplete {
    cursor: pointer;
    list-style: none;
    font-size: 90%;
}
#filed__autocomplete div {
    width: 99%;
    background: #F1F6EC;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 1px 2px 1px 2px;
    margin: 2px 2px 2px 0;
    color: #002bb8;
}
#actions {
    padding: 20px 0;
    border-bottom: 1px solid #888888;
}
