

#wrapper {
    height:auto !important;

    width:100%;
}

#leftpanel {

    background-color: lightgrey;
    position: relative;
}


#console {
    padding: 10px;
    background-color: #000000;
    color: limegreen;
    font-family: "Lucida Console", monospace;
    font-size: 0.8em;
    margin: 1px;
}

#console p {
    margin: 5px 0;
}

#workfield {
    width: 100%;
}

#content {
    background-color: #FFFFFF;
}

#img-container {
    margin-top: 30px;
    min-width: 400px;
}

.highlighted {
    border: 4px solid gold !important;
}

#img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#img-list > li {
    width: 100%;
    margin-bottom: 1em;
}
#img-list > li .close {
    cursor: pointer
}
#img-list > li.down__error {
    border: 1px solid #f90;
}

